<div class="row">
    <h1 id="expLab">Experiencia Laboral:</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat in ipsa asperiores exercitationem eligendi libero, expedita cumque perferendis dolor officia voluptate excepturi voluptatum vitae error doloribus ducimus debitis quia non!
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat in ipsa asperiores exercitationem eligendi libero, expedita cumque perferendis dolor officia voluptate excepturi voluptatum vitae error doloribus ducimus debitis quia non!
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 3</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat in ipsa asperiores exercitationem eligendi libero, expedita cumque perferendis dolor officia voluptate excepturi voluptatum vitae error doloribus ducimus debitis quia non!
            </p>
        </ul>
    </div>
</div>